body {
    background-color: #fafafa;
}

nav, .page-footer {
    background-color: #673AB7;
}

h1, h2, h3, h4, h5, h6 {
    color: #673AB7;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color: #039be5;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0 -10px;
}
.flex-col {
	flex-grow: 1;
    width: 32%;
    padding:0 10px;
}
@media only screen and (max-width: 1100px){
    .flex-col {
        width: 50%;
    }
}
@media only screen and (max-width: 760px){
    .flex-col {
        width: 100%;
    }
}
.card.waves-effect,
.card .waves-effect {
    display: block;
}
.card .card-title {
    font-size: 20px;
}
.page-footer {
    padding-top: 0px;
}
.page-footer a{
    text-decoration: underline;
}
table.article{
    display: inline-table;
}
table.article td{
    padding: 0px 10px 0px 0px;
    height: 32px;
}
table.summary td{
    font-size: smaller;
    padding: 0px 10px 0px 0px;
    vertical-align: top;
}
.collection a.collection-item{
    color: #039be5;
}
.prettyprint{
    font-size: smaller;
}
a[href^="http://"]:after, 
a[href^="https://"]:after {
  content: url(https://blog.roysolberg.com/images/external_link.png);
  margin: 0 0 0 5px;
}
a[href*="//blog.roysolberg.com/"]:after, footer a[href*="//"]:after {
  content: '';
  margin: 0;
}
.code{
    font-family: Courier New, monospace;
}
