body {
    background-color: #fafafa;
}

nav, .page-footer {
    background-color: #673AB7;
}

h1, h2, h3, h4, h5, h6 {
    color: #673AB7;
}

.card.waves-effect,
.card .waves-effect {
    display: block;
}
.card .card-title {
    font-size: 20px;
}
.page-footer {
    padding-top: 0px;
}
