RewriteEngine on
# TODO: Why won't it work just $ at the end?
RewriteCond %{REQUEST_URI} ^/atom-security.*$
RewriteRule .* atom-security.cgi [L]
RewriteCond %{REQUEST_URI} ^/atom.*$
RewriteRule .* atom.cgi [L]

RewriteCond %{HTTP_USER_AGENT} ^.*pinterest.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*linkedin.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*slack.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*facebook.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*yahoo.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Twitterbot.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*bing.*$
RewriteCond %{REQUEST_URI} !^/$
RewriteCond %{REQUEST_URI} !^/stuff/.*$
RewriteCond %{REQUEST_URI} !.\.(gif|jpg|jpeg|png|css|js|woff|woff2|xml|ico|txt|htm|html|txt|eot|svg|ttf)$
RewriteRule ^(.+)$ preview.cgi?page=$1 [L]

RewriteCond %{REQUEST_URI} !^/stuff/.*$
RewriteCond %{REQUEST_URI} !.\.(gif|jpg|jpeg|png|css|js|woff|woff2|xml|ico|txt|htm|html|txt|eot|svg|ttf)$
RewriteRule .* index.html [L]
