<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta property="og:title" content="$escapedTitle" />
    <meta property="og:image" content="$imageUrl" />
    <meta property="og:description" content="$escapedSummary" />
    <meta property="og:url" content="$url" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@roysolberg" />
    <meta name="twitter:title" content="$escapedTitle" />
    <meta name="twitter:description" content="$escapedSummary" />
    <meta name="twitter:image" content="$imageUrl" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="$author" />
    <meta name="twitter:label2" content="Category" />
    <meta name="twitter:data2" content="$category" />
    <title>$title</title>
</head>

<body>
    <article>
        <h1>$title</h1>
        <p>$summary</p>
        <p>$text</p>
    </article>
</body>

</html>
